.effmachine{
  float: right;
  padding-top: 15px;
}

.olz{
  float: left;
}

#headerPhoto{
  height: 190px;
  width: 100%;
  border: solid gray 5px;
}

.navig{
  text-align: center;
  background-color: lightgray;
}


ul{
  list-style: none;
}


.jumbotron p{
  font-size: 20px;
}
.jumbotron{
  border-style: solid;
  border-width: 1px;
}
body{
  background-color: lightgray;
}

.oversizer img{
  height: 150px;
  width: 200px;
  float: right;
  border-style: solid;
  border-width: 2.5px;
}
